<div class="container">
	<div class="row">
	<h4><strong>Employee Name</strong>  <%= @employee.firstName %></h4>
		<%= form_for  [@employee,@salary] do |f| %>
		<div class="col-md-12 col-sm-12">
		<%= hidden_field :employee_id, @salary.employee_id %>
			<div class="form-group col-md-6 col-sm-6">
				<%= f.label :basicSal %>
				<%= f.text_field :basicSal ,autofocus: true,class:'form-control input-sm',placeholder: "Enter basic sal", data:{"validation"=>" required number", "validation-allowing"=>"float"}%>
			</div>

			<div class="form-group col-md-6 col-sm-6">
				<%= f.label :hra %>
				<%= f.text_field :hra ,autofocus: true,class:'form-control input-sm',placeholder: "Enter HRA", data:{"validation"=>" required number", "validation-allowing"=>"float"} %>
			</div>

			<div class="form-group col-md-6 col-sm-6">
				<%= f.label :ta %>
				<%= f.text_field :ta ,autofocus: true,class:'form-control input-sm',placeholder: "Enter HRA" , data:{"validation"=>" required number", "validation-allowing"=>"float"}%>
			</div>

			<div class="form-group col-md-6 col-sm-6">
				<%= f.label :medicalAllowances %>
				<%= f.text_field :medicalAllowances ,autofocus: true,class:'form-control input-sm',placeholder: "Enter Medical allowances", data:{"validation"=>" required number", "validation-allowing"=>"float"} %>
			</div>

			<div class="form-group col-md-6 col-sm-6">
				<%= f.label :residualPay %>
				<%= f.text_field :residualPay ,autofocus: true,class:'form-control input-sm',placeholder: "Enter residualPay", data:{"validation"=>" required number", "validation-allowing"=>"float"} %>
			</div>

			<div class="form-group col-md-6 col-sm-6">
				<%= f.label :pf %>
				<%= f.text_field :pf ,autofocus: true,class:'form-control input-sm',placeholder: "Enter PF" , data:{"validation"=>" required number", "validation-allowing"=>"float"}%>
			</div>

			<div class="form-group col-md-6 col-sm-6">
				<%= f.label :ProfTax %>
				<%= f.text_field :ProfTax ,autofocus: true,class:'form-control input-sm',placeholder: "Enter PF" , data:{"validation"=>" required number", "validation-allowing"=>"float"}%>
			</div>
			
		</div>
		<div class="form-group col-md-6 col-sm-6">
		<%= f.submit "Add salary" ,class:'btn btn-primary ' %>
		</div>
			<% end %>
	</div>
</div>
<script>
 $(document).ready(function(){
 	$.validate()
 })
// 	$('#salary_empName').keypress(function(e){
// if(event.which != 8 && (/^[a-zA-Z() ]+$/).test(String.fromCharCode(event.which))){

//            return true;//stop character from entering input
//  $.ajax({
// 				url:'/salaries/search',
// 				method:'post',
// 				success:function(res){
					
// 				}
// 				})
//        }else{
//        	event.preventDefault()
//        }
// })
// })
</script>



	
	
	
