<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand codingmartLogo" href ="/"> Codingmart</a>
    </div>
    <div class="collapse navbar-collapse" id ="myNavBar">
      <ul class="nav navbar-nav navbar-right">
        <li class=""><a href="/">Welcome <%if current_employee.present? %>
          <%= current_employee.firstName %>
          <% else %>
          "Guest pleas signUp or login"
          <% end %>
        </a>
      </li>
      <% if employee_signed_in? %>
      <li class="<%= 'active' if current_page?(employee_attendances_path((current_employee))) %>">
        <%= link_to "Attendance", employee_attendances_path(current_employee) %> </li>
        <li class="<%= 'active' if current_page?(new_employee_leave_path(current_employee)) %>"><a href=" /employees/<%=current_employee.id %>/leaves/new">Apply leaves</a></li>

        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Salary<span class="caret"></span>
          <ul class="dropdown-menu">
            <li><a href="/employee/<%=current_employee.id %>/payslip">view monthly report</a></li>
 <!-- <li>           <%#= link_to "Attendance",  send_monthly_report_path %> </li> -->
            <%# if current_employee.role == "admin" || current_employee.role == "superadmin"  %>
            <!-- <li><a href="/salaries/index">Employee salaries</a></li> -->
            <%# end %>
          </ul>
        </li>


        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">employees <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/change_user_settings/<%=current_employee.id %>/edit">change password</a></li>
              <% if current_employee.role == "admin" || current_employee.role == "superadmin"  %>
                <li><a href="/registernewemployees/new">add new employee</a></li>
                <li><a href="/registernewemployees/index">view employees</a></li>
              <% end %>
          </ul>
        </li>
        
        <li><a href="/employees/sign_out" data-method="delete"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>



<script>
  $(document).ready(function () {
    $('.dropdown-toggle').dropdown();
  });
</script>